body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.flex-container{
    display: flex;
}
.header-part{
    margin-top: 100px;
}
.half-width{
    width: 50%;
    padding: 10px;
}
h1{
    font-size: 55px;
}
h3{
    font-weight: 500;
    color: rgb(119, 115, 115);
    margin-bottom: 50px;
    padding-top: 20px;
}
#text-format{
    margin-top: 150px;
    margin-left: 60px;
    line-height: 30px;
    font-weight: 700;
    color: rgb(90, 88, 88);
}
.orange-color{
    color: #ffa600fd;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(darkorange,rgb(206, 62, 43));
    padding: 20px 40px;
    border-radius: 50px;
    margin-top: 50px;
}